h1{
    font-size: 72px;
    color:blue; 
 }
 h2{
     font-size: 36px;
     color: green;
     
 }
 .center {
     text-align: center;
 }

 .arti {
    text-align: right;
 }
 footer{
     text-align: right;
 }